<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <img
        src="/welcome-left.png"
        alt="Welcome Left Image"
        class="welcome-image"
      />
      <section>
        <h1>Welcome to ToDo</h1>
        <p>ToDo helps you stay focused, whether it's for work or play.</p>
        <a href="http://localhost:3000" class="btn">Get Started</a>
      </section>
      <img
        src="/welcome-right.png"
        alt="Welcome Right Image"
        class="welcome-image"
      />
    </div>
  </body>
</html>
